    <!-- Manin content -->
    <div class="container jumbotron d-flex justify-content-start  " style="margin-top: 40px;">  
              
        <div class="row ">
            <form id="additemForm" >
            <!-- item header -->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" for="item-header">Item Header</label>
                    <input class="form-control form-control-lg" name="item_header" type="text" placeholder="Item Header" id="item-header">
                  </div>
            </div>
            <!-- item price -->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group" style="width: 200px;">
                    <label class="col-form-label col-form-label-lg"  for="Item-price">Item price</label>
                    <input class="form-control form-control-lg" name="item_price" type="number" min="1" placeholder=" $ input price" id="Item-price">
                  </div>
            </div>
            <!-- item details -->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" for="item-details">Item Details</label>
                    <input class="form-control form-control-lg"  maxlength = "40" minlength = "3" name="item_explanation" type="text" placeholder="Item Details" id="item-details">
                  </div>
            </div>
              <!-- input picture -->
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" for="img_url">Image Url</label>
                    <input class="form-control form-control-lg" name="img_url" type="text" placeholder="https://gph.is/Q4BXP3" size="80" id="img_url">
                  </div>
            </div>
            <!-- item quantity -->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group" style="width: 200px;">
                    <label class="col-form-label col-form-label-lg" for="input-quantity">Item quantity</label>
                    <input class="form-control form-control-lg" name="quantity" type="number" min="1" placeholder="input number" id="input-quantity">
                  </div>
            </div>
        </form>
            <!-- submit button -->

            <div class="col-sm-12 col-md-12 col-lg-12">
               
                <div class="alert alert-success hide" role="alert">
                    Item added <b>successfully !</b>
                </div>
                
               
                <div class="alert alert-danger hide" role="alert">
                    ERROR !
                </div> 
               
                <button type="submit" form="additemForm" value="Submit" class="btn btn-primary btn-lg">Add to store</button>
             </div>
                     
      
        </div>
        
        
    </div>

<script>

    $('.login').addClass('hide');
    $('.signup').addClass('hide');
    $('.logOut').addClass('show');
    $('.userMessage').addClass('show');    //showing user name in navbar

    $("#additemForm").submit(function(event){
        event.preventDefault();
        let postobj = {};
        postobj.item_header = $("#item-header").val();
        postobj.item_explanation = $("#item-details").val();
        postobj.item_price = $("#Item-price").val();
        postobj.img_url = $("#img_url").val();
        postobj.quantity = $("#input-quantity").val();


        $.ajax({
            type: "POST",
            url: "/api/products",
            data: postobj,
            dataType: "json"
        }).then(function(data){
            console.log(data.failure);

            if(data.failure){
                $(".alert-danger").fadeIn();
              
            }
             if(data.success){
                  $(".alert-success").slideToggle(); 
             }
                $("#item-header").val("");
                $("#item-details").val("");
                $("#Item-price").val("");
                $("#img_url").val("");
                $("#input-quantity").val("");
        })
    })
    

 
    

    
</script>