 
  <div class="jumbotron">
            <form method="post" action="/item/shop" id="item-info-form">
                <h3 class="display-5" > Title : {{item.item_header}}</h3>
                <img src="../assets/img/defult-sale-item.jpg" class="align-self-center mr-3" alt="..." width="200px" height="200px">
                
                <hr class="my-4">
                <p class="lead"> Item Deatils : {{item.item_explanation}}.</p>
                <p>Price:$ {{item.item_price}}</p>
                <div class="form-group">
                    <label for="FormControlSelect">Quantity :</label>
                    <select class="form-control" id="FormControlSelect" style="width:80px">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                <p>Delivery ETA: 03/28/2020</p>
                <p class="lead">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" form="item-info-form" value="Submit" class="btn btn-primary btn-lg">Add to cart</button>
                 </div>
                </p>
          </form>
    </div>
    


    