.fa-shopping-cart{
    font-size: 25px;
}
#web_title{
    color:white;
    font-family: 'Indie Flower', cursive;
}
.form-inline{
    margin-right: 20px;
}
.nav-link,.active{
    color: white !important;
}
.card-click-link:hover,:link{
    text-decoration: none;   

    color: inherit;

}
body{
    margin:0px;
}
.row{
    margin:10px;
}

.hide {
    display: none;
}
.show{
    display: block;
}
.userMessage{
    font-family: 'Gloria Hallelujah', cursive;
    /* font-size: 20px; */
    color: #92e088  !important;
}

